# Twitch - https://dev.twitch.tv/console
TWITCH_REDIRECT_URL=http://localhost:6111/callback
TWITCH_CLIENT_ID=someclientid
TWITCH_CLIENT_SECRET=someclientsecret

# Username and channel could be the same
TWITCH_USERNAME=your_username
TWITCH_CHANNEL=your_channel
TWITCH_PORT=:6111

# Spotify - https://developer.spotify.com/dashboard
CLIENT_ID_SPOTY=someclientid
CLIENT_SECRET_SPOTY=someclientsecret
REDIRECT_URL_SPOTY=http://127.0.0.1:5111/callback

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=1234

# There should be no space between key and value! it could lead to an error
# You can use url from this file or set your own. They should be the same in this file and in spotify dashboard and twitch developer console