body {
  margin: 0;
  font-family: 'K2D', sans-serif;
  background: transparent;
}

.player {
  display: flex;
  gap: 12px;
  background: #161616;
  padding: 10px;
  border-radius: 6px;
  max-width: 500px;
  /* animation */
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;

}

.cover {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.track-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 4px 0;
}

.artist {
  font-size: 14px;
  margin: 0;
  opacity: 0.8;
}

.time-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 4px;
}

.progress-bar {
  height: 6px;
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transition: width 0.3s;
}

.hidden {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}